@font-face {
    font-family: "Neue Haas Grotesk";
    src: url("fonts/Sneak-Regular.woff");
    font-weight: 400;
}

html{
    font-family: "Neue Haas Grotesk", sans-serif;
    overflow-x: hidden;
    background-color: #FAFAFA;
}

body{
  margin: 20%;
  font-size: 24px;
}

a, a:visited{text-decoration: none; color: black;}

p{padding-bottom: 20px;}

.hi{animation: fadeInAnimation ease 1s; animation-iteration-count: 1;animation-fill-mode: forwards; display: inline-block;}
.im{animation: fadeInAnimation ease 2s; animation-iteration-count: 1;animation-fill-mode: forwards; display: inline-block;}
.alex{animation: fadeInAnimation ease 3s; animation-iteration-count: 1;animation-fill-mode: forwards; display: inline-block;}

.fade{
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


/* ANIMATIONS */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}