@font-face {
    font-family: "Sneak";
    src: url("fonts/Sneak-Regular.woff");
    font-weight: 400;
}

@font-face {
    font-family: "Sneak";
    src: url("fonts/Sneak-Bold.woff");
    font-weight: 700;
}

html{
    font-family: "Sneak", sans-serif;
    overflow-x: hidden;
}

body{
  margin: 20px;
  font-weight: lighter;
  font-size: 10px;
  overflow-x: hidden;
}

footer{
  bottom: 0;
  right: 0;
  position: fixed;
  margin: 20px;
  color: black;
}

a, a:visited{text-decoration: none; color: black;}

.darling{display: flex; justify-content: center; height: 500px; background-image: url('imgs/darling.jpeg'); background-position: center; background-size: cover;}
.groupblack{display: flex; justify-content: center; height: 400px; background: rgb(227, 228, 229);}
.giant{padding: 40px 0px 40px 0px; display: flex; justify-content: center; background-image: url('imgs/giant.jpeg'); background-position: center; background-size: 160%;}
.giant-img{position: relative; z-index: 999; filter: drop-shadow(5px 10px 20px rgba(0, 0, 0, .5)); margin-bottom: 0px !important;}
.milkmoney{display: flex; justify-content: center; min-height: 400px; background-color: black;}
.crater{display: flex; justify-content: center; min-height: 400px; background-image: url('imgs/crater.jpeg'); background-position: center; background-size: cover;}
.sabrina{display: flex; justify-content: center; min-height: 400px; background: rgb(227, 228, 229);}

.div-width{width: 100%; margin-bottom: 20px;}

#container{display: flex; flex-direction: row; margin: 0; column-gap: 20px;}

/* LEFT COLUMN */

#left{width: 50vw; margin-bottom: 20px;}
#clients, #skills, #info{display: none;}
.dropdown{cursor: crosshair; user-select: none; margin-top: 20px; margin-bottom: 12px;}
.no-scroll{position: fixed;}

/* RIGHT COLUMN */

#right{width: 50vw; margin: 0;}

.column{display: flex; flex-direction: row; column-gap: 20px;}

.column-1{width: 17.25vw; margin-bottom: 40px;}
.column-2{width: 34.5vw;}
.column-3{width: 42.25vw;}
.column-4{width: 50vw;}

.column img{width: 100%; margin-bottom: 20px;}

/* MEDIA QUERIES */

@media (max-width: 800px) {
  html{overflow-x: hidden;}

  .no-scroll{position: relative;}

  .div-width{width: calc(100vw - 40px)}

  #left{width: calc(100vw - 40px)}

  #container{width: calc(100vw - 40px); flex-direction: column;}
  .column{flex-direction: column-reverse; margin-top: 20px;}
  .column img{width: calc(100% - 40px); margin-bottom: 20px;}

  .column-1{width: 100vw;}
  .column-2{width: 100vw;}
  .column-3{width: 100vw;}
  .column-4{width: 100vw;}
}